a {
  text-decoration: underline;
  color: #791714;
}

.heart {
  font-size: 96px;
  color: red;
}

body {
  font-family: "Frutiger LT Std";
  color: #791714;
  font-weight: bold;
}

h1 {
  font-family: "Frutiger LT Std";
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold
}

blockquote {
  font-size: 48px;
}

p.caption {
  margin-top: 20px;
  margin-right: 50px;
  float: right;
  font-style: italic;
  font-size: 20px;
}

div.slide {
  background: url(http://www.peritor.com/img/peritor_logo.png) no-repeat;
  background-position: 95% 3%;
  -webkit-background-size: 15% auto;
}

span.current:before, span.current:after {
  content: url(leaf.png);
}

code {
  line-height: 42px;
}

img#scalarium_logo {
  width: 450px;
  height: 450px;
}

#footer {
  background-color: white;
}

#slideInfo {
  float: right;
  background-color: #791714;
  height: 20px;
  color: white;
  width: 200px;
  text-align: right;
  padding-right: 10px;
  padding-top: 7px;
}

